@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<h2>Kategorie</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Dodaj nową kategorię</a>
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@category.Id" class="btn btn-sm btn-info">Szczegóły</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-sm btn-warning">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-sm btn-danger">Usuń</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>